x64_Server_Debug/
x64_Server_Release/
ipch/
*.user
*.obj
*.pch
*.pdb
*.tlog
*.lastbuildstate
*.log
*.idb
*.ilk
*.exe
*.sdf
*.opensdf
*.suo
*.sln
server.properties
MinecraftDedicatedServer.exe
MinecraftDedicatedServer